:root {
  --bg-body: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --btn-hover: hsla(245, 75%, 52%, 0.603);
  --bg-card: hsl(225, 100%, 98%);
  --bg-music: hsla(228, 100%, 94%, 0.658);
  --text1: hsl(224, 23%, 55%);
  --text2: hsl(223, 47%, 23%);
}